.header {
    height: 63px;
    display: flex;
    max-width: 1360px;
    width: 1360px;
    margin: 0 auto;
    align-items: center;
    
    &__logo {
        width: 100%;
        max-width: 120px;
        margin-right: 32px;
    }

    &__logo-svg {
        max-width: 120px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__link {
        &:hover {
            cursor: pointer;
        }
    }
}

.cabinet {
    display: flex;
    gap: 32px;
    margin-left: auto;
    align-items: center;
    

    &__logo {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: aqua;
    }

    &__out {
        background-image: url('/src/assets/images/logout.svg');
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
}