.transfers {
  border-radius: $border-8;
  font-size: 20px;
  color: $color-grey;

  &__inner {
    padding: 20px 0 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    border-bottom: 1px solid rgba($color-grey, 0.1);
  }

  &__item {
    flex-basis: 50%;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding-left: 10px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 5px;
      height: 5px;
      background-color: $color-yellow-hover;
      transition: 0.3s;
    }

    &:hover {
      color: $color-green-light;
    }
  }
}

.details {
  padding: 50px 0 20px;
  font-size: 20px;
  color: #343a40;

  label {
    display: block;
  }

  select {
    display: block;
    margin: 10px 0 35px;
    width: 80%;
  }

  button.form__btn {
    font-size: 20px;
  }

  .transfer-card-message,
  .pay-loan-message {
    margin: 20px 0;
    min-height: 25px;
    color: $color-red;
    font-style: italic;
  }
}