@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&family=Roboto+Slab&family=Taviraj:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

body {
    background: $color-background;
    font-family: 'Roboto Slab', serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}

.app {
  padding: 10px 0;
}

.container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    column-gap: 20px;
    margin-top: 48px;

    @media (max-width: $tablet) {
      display:flex;
        flex-direction: column;
    }
}

.modal {
  display: none;
  position: absolute;
  top: calc(50% - 150px);
  left: 0;
  right: 0;
  width: 600px;
  padding: 35px 40px 30px 20px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba($color-grey, 0.25);
  background-color: $color-background;
  border-radius: $border-4;
  z-index: 100;

  &__message {
    line-height: 35px;
  }

  &__close-btn {
    position: absolute;
    right: 17px;
    top: 17px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    transition: 0.3s;

    &::after {
      content:'';
      position: absolute;
      top: -4px;
      left: -5px;
      width: 100%;
      height: 100%;
      padding: 5px;
      box-sizing: content-box;
      border-radius: 50%;
      box-shadow: 0 0 0 2px $color-green-light;
      transform: scale(0.8);
      opacity: 0;
      transition: 0.3s;
    }

    &:hover {
      color: $color-green;

      &:after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &.open {
    display: block;
  }
}

.overlay {
  display: none;
  background-color: rgba($color-black, 0.25);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;

  &.open {
    display: block;
  }
}

.link {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    transition: $transition color;
    &:hover {
        color: $color-grey-hover;
    }

    &_margin {
        margin: 16px;
    }
}

.btn-primary {
  font-size: 18px;
  background: rgba($color-green-light, 0.8);
  border: 1px solid #343a40;
  border-radius: 4px;
  padding: 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
  color: $color-white;
  transition: background 0.3s ease;

  &:hover {
    background: $color-green-light
  }
}